@page "/fetchdata"

<PageTitle>Fisk</PageTitle>

@using BlazorHjemmeside_H1_SQL.Data
@using H1AfsluttendeOpgaveSuperVigtig.Data


<h1>Fisk</h1>



@if (fisk == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fisk</th>
                <th>Vægt. (KG)</th>
                <th>Farve.</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var fisk in fiskList)
            {
                <tr>
                    <th>@fisk.FiskID</th>
                    <td>@fisk.Navn</td>
                    <td>@fisk.Vægt</td>
                    <td>@fisk.Farve</td>
                    
                </tr>
            }
        </tbody>
    </table>
}


  
}

@code {
    Fisk fisk = new();
    List<Fisk> fiskList = new SQL().ReadFisk();
  
    protected override async Task OnInitializedAsync()
    {
        
    }
   
    void AddItem()
    {
        //new SQL().CreateFish(fisk);
        fisk = new();
        fiskList = new SQL().ReadFisk();
    }
}